body {
    background-color: lightgray;
}
main {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.logout {
    text-decoration: none;
    color: rgb(234, 118, 35);
    font-size: 20px;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 25px;
    
}